.main_container{
    padding: 100px;
    
    .films_container{
        display: flex;
        flex-wrap: wrap;
        .single_card{
            padding-bottom: 30px;
            width: calc(100% / 3);
            overflow: hidden;
            p{
                margin: 0
            }
            .flag_image{
                width: 35px;
                height: 20px;
            }
            .lang_not_found{
                height: 20px;
                width: 20px;
            }
            .poster{
                height: 100%;
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}