.navbar{
    background-color: #000;
    display: flex;
    padding: 20px;
    align-items: center;
    .logo_title{
        flex-grow: 1;
        color: #ea3323;
    }
    .search_bar_container{
        flex-grow: 0;
    }
}